<ion-modal-view>
   <ion-header-bar>
      <h1 class = "title">{{info.venueName}}</h1>
      <button class = "button icon icon-left ion-ios-close-outline"
         ng-click = "closeModal()"></button>
   </ion-header-bar>
  <ion-content>
  	<ion-list>
  	  <ion-item class="item item-thumbnail-left" ng-repeat="asset in dataModel.clientAssets" ng-show="dataModel.state == 'loaded'" ng-class="{'deleted': asset.deleted == 'true'}"> 
        <img src="{{asset.iconUrl}}" />
        <h3>{{asset.name}}</h3>
        <h3>£{{asset.price}}</h3>

  			<button class="button" ng-click="buyAsset(asset)" ng-show="asset.balance > 0">Buy Now</button>
        <h3 ng-show="asset.balance <= 0" color="red">Out of stock</h3>

        <button class="button" ng-click="addToCart(asset)" ng-show="(asset.balance - getCartCount(asset)) > 0">Add to cart</button>
        <h3 ng-show="getCartCount(asset) > 0" color="red">{{getCartCount(asset)}} in cart</h3>
        <h3 ng-show="((asset.balance - getCartCount(asset)) <= 0) && getCartCount(asset) > 0" color="red">All available items already in cart</h3>

                          <!-- {{asset.asset}} {{asset.icon_url}} {{asset.balance}} {{asset.name}} {{asset.iconUrl}} {{asset.price}} -->
      </ion-tem>
  	</ion-list>
  </ion-content>
</ion-modal-view>
